<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <head th:replace="common/head :: head_Normal"/>
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <input type="hidden" name="id" th:value="${sysUser?.id}">
    <div class="layui-form-item">
        <label class="layui-form-label required">用户名</label>
        <div class="layui-input-inline">
            <input type="text" name="username" lay-verify="required" lay-reqtext="用户名不能为空" placeholder="请输入用户名"
                   th:value="${sysUser?.username}" class="layui-input">
        </div>
        <label class="layui-form-label required">用户姓名</label>
        <div class="layui-input-inline">
            <input type="text" name="name" lay-verify="required" lay-reqtext="用户姓名不能为空" placeholder="请输入用户姓名"
                   th:value="${sysUser?.name}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">手机号</label>
        <div class="layui-input-inline">
            <input type="text" name="phone" lay-reqtext="手机号格式不正确" placeholder="请输入手机号" th:value="${sysUser?.phone}"
                   class="layui-input">
        </div>
        <label class="layui-form-label required">邮箱</label>
        <div class="layui-input-inline">
            <input type="text" name="email" lay-verify="required|email" lay-reqtext="邮箱格式不正确" placeholder="请输入邮箱"
                   th:value="${sysUser?.email}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">地址</label>
        <div class="layui-input-block">
            <input type="text" name="address" placeholder="请输入地址" th:value="${sysUser?.address}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">头像</label>
        <div class="layui-input-block">
            <input type="text" name="avatar" placeholder="请输入头像" th:value="${sysUser?.avatar}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">个人介绍</label>
        <div class="layui-input-block">
            <textarea name="introduction" class="layui-textarea" th:text="${sysUser?.introduction}"
                      placeholder="请输入个人介绍"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script th:src="@{/static/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            var param = data.field;
            var action = "add";
            if (param.id) {
                action = "update";
            }
            $.ajax({
                type: "POST",
                url: action,
                data: param,
                error: function (request) {
                    layer.msg('系统错误', {icon: 7});
                },
                success: function (res) {
                    if (res.code == 200) {
                        layer.msg(res.msg, {icon: 1, time: 1000}, function () {
                            //查询
                            parent.layui.jquery("button[lay-filter='data-search-btn']").click();
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                        });
                    } else {
                        layer.msg(res.msg, {icon: 7});
                    }
                }
            });

            return false;
        });

    });
</script>
</body>
</html>