<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <head th:replace="common/head :: head_Normal"/>
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-form layuimini-form">
            <div class="layui-container">
                <div class="layui-row">
                    <input hidden="hidden" name="nextUser">
                    <div class="layui-form-item">
                        <div class="layui-col-xs2">表单名称</div>
                        <div class="layui-col-xs10 layui-input-inline">
                            <input type="text" name="theme" id="theme" class="layui-input"
                                   lay-verify="required" value="请假单">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-col-xs2">流程选择</div>
                        <div class="layui-col-xs10 layui-input-inline">
                            <select lay-search="" name="deploymentId" id="deploymentId" lay-filter="deployment">
                                <option value="">直接选择或搜索选择</option>
                                <option th:each="deployment:${deploymentList}"
                                        th:text="${deployment.name}" th:value="${deployment.id}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-col-xs2 required">开始日期</div>
                        <div class="layui-col-xs10 layui-input-inline">
                            <input type="text" name="startTime" id="startTime" class="layui-input"
                                   lay-verify="required">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-col-xs2 required">结束日期</div>
                        <div class="layui-col-xs10 layui-input-inline">
                            <input type="text" name="endTime" id="endTime" class="layui-input" lay-verify="required">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <div class="layui-col-xs2 required">事由</div>
                        <div class="layui-col-xs10">
                            <textarea name="comment" placeholder="请输入事由" class="layui-textarea" lay-verify="required"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-col-xs2">审批人</div>
                        <div class="layui-col-xs10 layui-input-inline">
                            <select lay-search="" lay-filter="approve">
                                <option value="">直接选择或搜索选择</option>
                                <option th:each="user:${userList}"
                                        th:text="${user.firstName}" th:value="${user.id}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-md-offset4">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="saveBtn">立即申请</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/static/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script>
    layui.use(['form', 'laydate'], function () {
        var $ = layui.jquery,
            form = layui.form,
            laydate = layui.laydate;
        //日期
        laydate.render({
            elem: '#startTime'
            ,type: 'datetime'
        });
        laydate.render({
            elem: '#endTime'
            ,type: 'datetime'
        });
        //监听提交
        form.on('submit(saveBtn)', function (param) {
            $.ajax({
                url: "/workflow/flow/startAndSubmit",
                type: "post",
                data: param.field,
                success: function (res) {
                    if (res.code == 200) {
                        layer.msg(res.msg, {icon: 1, time: 1000}, function () {
                            //查询
                            parent.layui.jquery("button[lay-filter='data-search-btn']").click();
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                        });
                    } else {
                        layer.msg(res.msg, {icon: 7});
                    }
                }
            });
            return false;
        });
        //监听下拉框
        form.on('select(approve)', function (data) {
            $("[name=nextUser]").val(data.value);
        });
    });
</script>
</body>
</html>