<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head_Content"/>

<title th:text=${title}></title>
<!-- 这儿引用单独的css link -->
<style type="text/css">
</style>
</head>
<body id="listbody">
<div class="layui-container">
    <div class="row">
        <div class="col-sm-12">
            <div>
                <iframe width="100%" height="900px" id="swagger" name="swagger" th:src="@{'/swagger-ui.html'}"
                        frameborder="0" marginheight="0" marginwidth="0" border="false" scrolling="yes"></iframe>
                <script type="text/javascript">

                    function reinitIframe() {
                        var iframe = document.getElementById("swagger");
                        try {
                            var bHeight = iframe.contentWindow.document.body.scrollHeight;
                            var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
                            var height = Math.max(bHeight, dHeight);
                            iframe.height = height;
                        } catch (ex) {
                        }
                    }

                    window.setInterval("reinitIframe()", 200);
                </script>
            </div>
        </div>
    </div>
</div>
<!-- 通用js -->
<script th:src="@{/static/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
</body>

</html>
